<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @project %>

  <div class="container text-center">
    <%= link_to "Edit this project", edit_project_path(@project), class:"btn btn-warning rounded-pill mb-3" %> |
    <%= link_to "Back to projects", projects_path, class:"btn btn-success rounded-pill mb-3" %>

    <%= button_to "Destroy this project", @project, method: :delete, class:"btn btn-danger rounded-pill" %>
  </div>
</div>
